# VS Code configuration folder
.vscode/*
# Python cache folders
__pycache__/
*.py[cod]
*$py.class
!.vscode/settings.json
.vscode/settings.json
*/.vscode/settings.json

# C# changing files
*.csproj.user   
*.csproj

.venv/
env/
venv/
*/.env
*/.venv
