{% extends "base.html" %}

{% block podnadpis %}Napiš nám{% endblock %}

{% block hlavniobsah %}
<h2>Napiš nám</h2>
<form action="/kontakt" method="post">
    <fieldset>
        <label for="jmenokocky">Jméno:</label>
        <input type="text" name="jmeno" id="jmenokocky" placeholder="zadej jmeno kocky" required>
        <br>
        <label for="srstkocky">Srst:</label>
        <input type="text" name="srst" id="srstkocky" placeholder="zadej barvu srsti" required> 
        <br>
        <label for="vekkocky">Věk:</label>
        <input type="number" name="vek" id="vekkocky" placeholder="zadej vek kocky" required>
    </fieldset>
    <button type="submit">Odeslat</button>  
</form>
{% endblock %}