div[b-p2x3c8gtmh]{
    width: auto;
    margin-left: 40%;   
}

.create[b-p2x3c8gtmh]{
    background-color: blueviolet;
    color: orangered;
}

.show[b-p2x3c8gtmh] {
    background-color: darkkhaki;
    color: lawngreen;
}