div[b-zem38o28ea] {
    width: auto;
    margin-left: 40%;
}

.list[b-zem38o28ea] {
    background-color: lightslategray;
    color: mediumseagreen;
    border: 25px double lawngreen;
}

.char_panel[b-zem38o28ea] {
    background-color: red;
    color: yellow;
}

.details[b-zem38o28ea] {
    background-color: goldenrod;
    color: aqua;
}