<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utulkomat | {% block podnadpis %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Útulkomat</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/home">O nás</a></li>
            <li><a href="/seznamkocek">Kočky</a></li>
            <li><a href="/kontakt">Napiš nám</a></li>
        </ul>
    </nav>
    <main>
        {% block hlavniobsah %}{% endblock %}
    </main>
    <footer>
        <p>Copyright &copy; Beranek Pavel</p>
    </footer>
</body>
</html>